@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');




.section-1 {
    font-family: "Lato", sans-serif;

}

.para {
    font-family: "Montserrat", sans-serif;

}

.section-2 {
    font-family: "Inter", sans-serif;

}

.section-3 {
    font-family: "Inter", sans-serif;

}

.btn-year {
    font-family: "DM Sans", sans-serif;

}

.card-head {
    font-family: "Manrope", sans-serif;

}

.card-btn {
    font-family: "Manrope", sans-serif;

}

footer{
        font-family: "Lato", sans-serif;
}